#size {
    margin: 2% 0 2% 0;
    padding: 1% 0;
    max-width: 30%;
  }

.pizzaImg {
    display: inline-block;
    height: 40vh;   
}

.columnDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.toppings {
    padding: 1% 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 7%;
    height: 4%;
    left: 2%;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 70%;
    width: 45%;
    bottom: 15%;
    left: 5%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(85%);
    -ms-transform: translateX(85%);
    transform: translateX(85%)
}

.rowDiv {
    display: flex;
}

.rowDiv p {
    margin: 0 0 0 3%;
}

#specialInstructions {
    margin: 1% 0 0 1%;
    padding: 1% 0 0 1%;
    width: 60%;
}

.bottomDiv {
    border-bottom: 2px solid slategray;
}